<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelloASP</title>
</head>
<body>
    <h1>Here are some delicious foods!</h1>
    @{
        string[] foods = {"Apple Pie", "Burritos", "Clams Casino", "Donuts"};
        
        foreach(string food in foods){
            <div>
                @if(food.StartsWith("C") || food.StartsWith("c")){
                    <p style=color:red>@food</p>
                } else {
                    <p>@food</p>
                }               
            </div>
        }
    }
</body>
</html>