@model Product
@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Products | <a href="categories">Categories</a></h1>
    <div class="row">
        <div class="col-sm-5">
            <h2>New Product</h2>
            <form asp-action="CreateProduct" method="post">
                <div class="form-group">
                    <label asp-for="ProductName"></label>
                    <input asp-for="ProductName" class = "form-control">
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class = "form-control">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class = "form-control">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <input type="submit" value="Create" class="btn btn-primary">
            </form>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
            <h2>Existing Products</h2>
            @{
                foreach(Product p in ViewBag.AllProducts)
                {
                    <h5><u><a href="/products/@p.ProductId">@p.ProductName</a></u></h5>
                }
            }
        </div>
    </div>
</div>