@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-4 mb-4">Welcome to CRUDelicious</h1>
    <div class="row mt-4">
        <div class="col-8">
            <p>Check out some recent dishes!</p><hr>
        </div>
        <div class="col-4">
            <a href="new"><u>Add a Dish</u></a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-8">
            @{
                foreach(Dish d in ViewBag.AllDishes)
                {
                    <p><a href="@d.DishId">@d.Name</a> by @d.Chef</p>
                }
            }
        </div>
    </div>
</div>
