<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date and Time</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="wrapper">
        <h1>The current time and date:</h1>
        <div class="dateTimeBox">
            <h2>@DateTime.Now.ToString("MMM dd, yyyy")</h2> 
            <h2>@DateTime.Now.ToString("h:mm tt")</h2>
        </div>
    </div>
</body>
</html>