<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rob Moore Projects</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 class="text-center">Here are some projects of mine!</h1>
    <div class="container">
        <div class="m-auto overflow-auto border border-dark p-2">
            <div class="row mt-2 mb-2">
                <div class="col d-flex justify-content-center">
                    <img src="/img/rpslspock.jpg" alt="Rock Paper Scissors Lizard Spock">
                </div>
                <div class="col align-self-center">
                    <div class="text-center"><a href="http://rock-paper-scissors-lizard-spock.glitch.me/" target="_blank">Rock Paper Scissors Lizard Spock</a></div>
                    <p>This site is hosted on glitch.me written in JavaScript and JQuery based on the popular game.  There is an iframe video from YouTube that explains how the game is scored.  Scroll to the bottom, select an option and see if you can beat the computer!</p>
                </div>
            </div>
            <div class="row mt-2 mb-2">
                <div class="col d-flex justify-content-center">
                    <img src="/img/quote.jpg" alt="Quote">
                </div>
                <div class="col align-self-center">
                    <div class="text-center"><a href="http://3.21.103.76/" target="_blank">Quote Library</a></div>
                    <p>This site is hosted on AWS and written in Python.  The user creates a new account and is able to post a quote by an author.  The user is also able to view other quotes by other users and is able to "like" the quote.</p>
                </div>
            </div>
            <div class="row mt-2 mb-2">
                <div class="col d-flex justify-content-center">
                    <img src="/img/msc-logo.jpg" alt="MSC">
                </div>
                <div class="col align-self-center">
                    <div class="text-center"><a href="https://msc-advertising.glitch.me//" target="_blank">MSC Advertising</a></div>
                    <p>This site is hosted on glitch.me for now and is a concept for an online presence for MSC Advertising.  Future features will include an e-commerce store and customization for t-shirts, logos, etc. </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>